h1 {
  font-size: 2rem; 
  font-weight: bold;
}

.meal-card {
    margin-bottom: 20px;
  }
  
  .meal-card img {
    max-width: 100%;
    height: auto;
  }
  
  .meal-card .card-body {
    text-align: center;
  }
